/*custom css file for stupid solutions*/
::selection {
  background: : #000; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: : #000; /* Gecko Browsers */
}
html {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #000;
  font-family: "OakesGrotesk-Medium", "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body {
  font-size: 1rem;
  color: #fff;
}

.container{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

#footer-row{
  bottom: 2.5rem;
  padding: 2.5rem 0;
  align-self: flex-end;
  display: flex;
}
.contact{
  margin: 0 10px 0 0;
}
#row-hero{
  display: inline-flex;
  align-items: center;
  flex-grow: 1;
}

#hero {
  vertical-align: middle;
  padding-right: 20px;
}

#hero h1 {
  font-family: "OakesGrotesk-Bold";
  font-size: 4rem;
}

#hero p {
  font-size: 1.125rem;
  padding-bottom: 2.5rem;
}

a {
  position: relative;
  line-height: 1.6;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
}

a:hover{
  color: #fff;
}

a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid #fff;
  transition: 0.5s;
  color: #fff;
}

a:hover:after {
  width: 100%;
}
.highlight {
  color: #fff;
}
